matplotlib
numpy
scipy
Cython
tqdm
bridson
easydict
scikit-image
Pillow
imgaug
tensorboard
graphviz
opencv-python-headless
albumentations
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision